.body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  gap: 10px;
  width: 80%;
  justify-content: center;
}
.block1 {
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  border-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.rating {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px;
}
.rating-group {
  display: inline-flex;
}
.rating__icon {
  pointer-events: none;
}
.rating__input {
  position: absolute !important;
  left: -9999px !important;
}
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1rem;
}
.rating__icon--star {
  color: #2196f3;
}
.rating__icon--none {
  color: #eee;
}
.rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: #2196f3;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make none icon grey on rating group hover */
.rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

/* end of styles for new rating */
.paws {
  display: flex;
  justify-content: center;
}
.paws-group {
  display: inline-flex;
  justify-content: center;
  gap: 25px;
}
.paws__icon {
  pointer-events: none;
}
.paws__input {
  position: absolute !important;
  left: -9999px !important;
}
.paws__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: smaller;
  gap: 10px;

  display: flex;
}
.paws__icon--fa-solid {
  color: #2196f3;
}
.paws__icon--none {
  color: #eee;
}
.paws__input--none:checked + .paws__label .paws__icon--none {
  color: red;
}
.paws__input:checked ~ .paws__label .paws__icon--fa-solid {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.paws-group:hover .paws__label .paws__icon--fa-solid {
  color: #2196f3;
}

/* make hovered input's following siblings grey on hover */
.paws__input:hover ~ .paws__label .paws__icon--fa-solid {
  color: #ddd;
}

/* make none icon grey on rating group hover */
.paws-group:hover
  .paws__input--none:not(:hover)
  + .paws__label
  .paws__icon--none {
  color: #eee;
}
.reduct1 {
  background: red;
  border-radius: 5px;
  color: white;
  width: 30px;
  height: 10px;
  border: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
}

.image1 {
  display: flex;
  justify-content: center;
}

.Instore1 {
  display: flex;
  align-items: center;
}

.dogfood1 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;

  margin: 20px;
}
.price1 {
  font-size: x-small;
  color: grey;
  text-decoration: line-through red;
}

.price2 {
  font-size: smaller;
  color: red;
}

.block2 {
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  border-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.reduct2 {
  background: red;
  border-radius: 5px;
  color: white;
  width: 30px;
  height: 10px;
  border: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
}
.image2 {
  display: flex;
  justify-content: center;
}

.Outofstore1 {
  display: flex;
  align-items: center;
}

.dogfood2 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;

  margin: 20px;
}
.price3 {
  font-size: x-small;
  color: grey;
  text-decoration: line-through red;
}
.price4 {
  font-size: smaller;
  color: red;
}
.block3 {
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  border-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.reduct3 {
  background: red;
  border-radius: 5px;
  color: white;
  width: 30px;
  height: 10px;
  border: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
}
.image3 {
  display: flex;
  justify-content: center;
}

.Instore2 {
  display: flex;
  align-items: center;
}

.dogfood3 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;

  margin: 20px;
}
.price5 {
  font-size: x-small;
  color: grey;
  text-decoration: line-through red;
}
.price6 {
  font-size: smaller;
  color: red;
}
.block4 {
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  border-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.reduct4 {
  background: red;
  border-radius: 5px;
  color: white;
  width: 30px;
  height: 10px;
  border: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
}
.image4 {
  display: flex;
  justify-content: center;
}

.Outofstore2 {
  display: flex;
  align-items: center;
}

.dogfood4 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;

  margin: 20px;
}
.price7 {
  font-size: x-small;
  color: grey;
  text-decoration: line-through red;
}
.price8 {
  font-size: smaller;
  color: red;
}
.block5 {
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  border-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.reduct5 {
  background: red;
  border-radius: 5px;
  color: white;
  width: 30px;
  height: 10px;
  border: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
}
.image5 {
  display: flex;
  justify-content: center;
}

.Instore3 {
  display: flex;
  align-items: center;
}

.dogfood5 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;

  margin: 20px;
}
.price9 {
  font-size: x-small;
  color: grey;
  text-decoration: line-through red;
}
.price10 {
  font-size: smaller;
  color: red;
}
.block6 {
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  border-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.reduct6 {
  background: red;
  border-radius: 5px;
  color: white;
  width: 30px;
  height: 10px;
  border: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: center;
  padding: 8px;
  margin-left: 20px;
}
.image6 {
  display: flex;
  justify-content: center;
}

.Instore4 {
  display: flex;
  align-items: center;
}

.dogfood6 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;

  margin: 20px;
}
.price11 {
  font-size: x-small;
  color: grey;
  text-decoration: line-through red;
}
.price12 {
  font-size: smaller;
  color: red;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 23px;

  cursor: pointer;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  padding: 55px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: white;
  border: 2px solid #2196f3;
  border-radius: 5px;
  justify-content: center;

  flex-shrink: 0;
}
.checkbox:hover input ~ .checkmark {
  background-color: white;
}
.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 3.5px;
  height: 7px;
  right: 3px;

  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: (45deg);
}

button {
  width: 105px;
  height: 35px;
  cursor: pointer;
  margin: 5px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
}
.cart {
  background: #2196f3;
  border-radius: 5px;
  color: white;
  font-size: x-small;
  font-weight: bolder;
  border: 2px;
  padding: 10px;
  margin-left: 170px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart span {
  transition: 400ms;
}
.button:focus {
  outline: none;
}
.strike1 {
  margin-top: 20px;
  margin-left: 10px;
}
.strike2 {
  margin-top: 20px;
  margin-left: 10px;
}

.strike3 {
  margin-top: 20px;
  margin-left: 10px;
}
.strike4 {
  margin-top: 20px;
  margin-left: 10px;
}
.strike5 {
  margin-top: 20px;
  margin-left: 10px;
}
.strike6 {
  margin-top: 20px;
  margin-left: 10px;
}
